# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.g.dart

# Android
android/**/gradle-wrapper.jar
android/.gradle
android/captures/
android/gradlew
android/gradlew.bat
android/local.properties
android/**/GeneratedPluginRegistrant.java
**/android/key.properties
*.jks

# iOS / macOS
ios/**/*.mode1v3
ios/**/*.mode2v3
ios/**/*.moved-aside
ios/**/*.pbxuser
ios/**/*.perspectivev3
ios/**/Pods/
ios/**/.symlinks/
ios/**/Flutter/Flutter.framework
ios/**/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/ServiceDefinitions.json
macos/Flutter/GeneratedPluginRegistrant.swift

# Web
web/.dart_tool/

# IDEs
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
*.iml
*.ipr
*.iws

# Sistema operativo
.DS_Store
Thumbs.db

# Archivos generados por Flutter
*.lock
!pubspec.lock

# Credenciales / entornos (por si mueves las keys a un .env)
.env
*.env

# Evidencias pesadas (súbelas a Drive/YouTube y enlázalas en el README)
docs/video/*.mp4
